<div class="col-md-6 col-md-offset-5 paginations" ng-show="products.length">
    <div class="btn-group">
        <a  type="button" class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">PREV</a>
        <span class="btn btn-default pagin" >Page {{currentPage + 1}} of {{ countPages() }}</span>
        <a  type="button" class="btn btn-default" ng-disabled="currentPage >= products.length/countProd - 1" ng-click="currentPage = currentPage+1">NEXT</a>
    </div>
</div> 